<div id="containerpoo">
<form action="/fortune" method="post">
<p>Enter your birth year<input type="text" name="birthyear" size="30"/></p>
<div class="button"><input type="submit" value="Find Your Fortune"/>
</div>
</div>
