
<form action="/fortune" method="post">
  
  <table>
    <tr><td colspan="2">Enter the year you were born</td>
    </tr><tr> <td colspan="2"><input type="text" name="birthyear" class="formtext" size="10"/></td></tr>
    <tr><td><div class="button"><input type="submit" value="Find Your Fortune" name="normalfortune"/></div></td>

      <td> <div class="button"><input type="submit" value="The Dirty Version" name="dirtyfortune"/>    </div></td></tr>
  </table>



